header{
  background: url('../img/header.png') no-repeat;
  background-size: cover;
  background-position: left;
}

header .container{
  height: 100vh;
}

.header-phone{
  position: absolute;
  top: 34px;
  right: 60px;
  color: white;
  font-size: 36px;
  font-family: lifehack;
}

.header-title{
  font-family: nautilus;
  font-size: 140px;
  color: white;
  position: relative;
  margin-top: -152px;
}

.header-title:before{
  position: absolute;
  background-image: linear-gradient(to bottom, #9a63ac, #f86369, #ffac63); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  content: 'Весь Азербайджан на ваших фото';
  font-size: 30px;
  bottom: 7px;
  left: 17px;
}

.header-date{
  font-size: 60px;
  font-family: lifehack;
  color: white;
  margin-top: 17px;
}

.header-button{
  margin-top: 35px;
  font-size: 38px;
  color: white;
  padding: 6px 50px;
  border: 2px solid white;
  cursor: pointer;
  font-family: lifehack;
  text-transform: uppercase;
}

@media screen and (max-width: 1050px){
  .header-title{
    margin: auto;
  }
  
  .header-phone{
    top: 0;
  }
  
  img{
    max-width: 100% !important;
  }
}

@media screen and (max-width: 450px){
  .header-title{
    font-size: 60px;
  }
  
  .header-date{
    font-size: 28px;
  }
  
  .header-title:before{
    font-size: 12px;
  }
  
  .header-phone{
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    margin: auto;
  }
  
  header.container-fluid{
    padding-bottom: 70px !important;
  }
}