.live-slider-pagination-container{
  display: flex;
}

.live-slider-pagination{
  flex: 1;
  cursor: pointer;
}

.live-slider-pagination.active img{
  border: 5px solid white;
  box-sizing: border-box;
}

.live-slider-pagination img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.live-item img{
  width: 100%;
  object-fit: cover;
}

.live-slider-arrow-next,
.live-slider-arrow-prev{
  position: absolute;
  top: 250px;
  color: white;
  z-index: 999;
  font-size: 32px;
  padding: 2px 16px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.live-slider-arrow-next:hover,
.live-slider-arrow-prev:hover{
  background: white;
  color: yellow;
}


.live-slider-arrow-next{
  right: 40px;
}

.live-slider-arrow-prev{
  left: 40px;
}

.live-slider-container{
  position: relative;
}

.live-slider-container img{
  max-height: 500px;
}

@media screen and (max-width: 1050px){
  .live-item img{
    height: 255px;
  }
  
  .live-slider-arrow-next, .live-slider-arrow-prev{
    top: 250px;
  }
}

@media screen and (max-width: 450px){
  .live-slider-arrow-next, .live-slider-arrow-prev{
    top: 130px;
  }
}