#team{
  background: url('../img/turkey.png') no-repeat;
  background-size: cover;
}

#team .container{
  height: 1150px;
  padding-top: 120px;
}

.team-item{
  border: 15px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 325px;
  background: white;
  position: relative;
  margin:  0 10px;
  border-radius: 8px;
}

.team-item.b:before{
   background: url('../img/pin-blue.png') no-repeat;
}

.team-item.g:before{
   background: url('../img/pin-green.png') no-repeat;
}

.team-item:before{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.team-img{
  height: 220px;
}

.team-img img{
  width: 100%;
  object-fit: cover;
  object-position: 0 40%;
  height: 100%;
}

.team-title{
  font-family: acrobat;
  font-size: 30px;
  color: #333333;
  padding-top: 5px;
}

.team-prof{
  font-family: acrobat;
  font-size: 20px;
  padding: 5px 0;
}

.team-prof.b{
  color: #053173;
}

.team-prof.g{
  color: #0a5502;
}

.team-desc{
  color: black;
  font-family: acrobat;
  font-size: 18px;
  padding: 0 20px;
}

.team-items-container{
  align-items: stretch;
}

.nastya{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 310px;
  background: white;
  border: 20px solid white;
  border-radius: 8px;
  position: relative;
}

.nastya:before{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: url('../img/pin-red.png') no-repeat;
}

.nastya img{
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.nastya-title{
  color: #333333;
  font-size: 30px;
  font-family: acrobat;
  padding: 10px 0;
}

.nastya-desc{
  color: #d30f0f;
  font-size: 20px;
  font-family: acrobat;
  padding-bottom: 20px;
}

.nastya-container{
  margin-top: 100px;
}

.nastya-description{
  width: 700px;
  background: url('../img/nastya-back.png') no-repeat;
  margin-left: auto;
}

.nastya-desc-title{
  text-align: center;
  font-size: 30px;
  color: #333333;
  font-family: nautilus;
  padding: 15px 0;
}

.nastya-desc-desc{
  padding-left: 70px;
  padding-right: 70px;
  font-family: acrobat;
  font-size: 18px;
  color: #000000;
}

@media screen and (max-width: 1050px){
  
  .nastya-container{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .nastya-description{
    margin-left: 0;
    margin-top: 15px;
    max-width: auto;
  }
  
}

@media screen and (min-width: 450px) and (max-width: 1050px){
  .nastya-desc-desc{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px){
  .team-items-container{
    flex-wrap: wrap;
  }
  
  .team-item{
    margin-top: 15px;
  }
  
  .nastya-description{
    background: white;
  }
  
  #team{
    padding-bottom: 170px !important;
  }
  
  .nastya-desc-desc{
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #team{
    background-image: url('../img/turkey-mobile.png') !important;
  }
  
  #team .separator-top img{
    display: block !important;
    height: 50px !important;
  }
  
  #team .separator-top{
    top: -2px;
  }
  
  #team .separator-bottom img{
    display: block !important;
    height: 50px !important;
  }
  
  .nastya-container{
    margin-top: 20px !important;
  }
}