#transport{
  background: url('../img/wolks.png');
  background-size: cover;
  padding-top: 170px;
}

#transport .container{
  height: 870px;
}

.transport-cart{
  border: 15px solid white;
  max-width: 715px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.transport-cart img{
  width: 100%;
}

.transport-cart-title{
  font-size: 28px;
  color: #333333;
  font-family: acrobat;
  text-align: center;
  padding: 20px 0 25px 0;
  background: white;
}

#transport .section-desc{
  padding-top: 0;
}

@media screen and (max-width: 1400px){
  #transport .container{
    height: 820px;
  }
}

@media screen and (min-width: 1400px){
  #transport .container {
    height: auto;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 450px){
  .transport-cart{
    background: white;
  }
}