.wyw-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 490px;
  margin: auto;
}

.wyw-item-numb{
  font-family: acrobat;
  font-size: 120px;
  color: #333333;
  flex: 1;
}

.wyw-item-img{
  padding: 0 30px 0 50px;
  flex: 1;
}

.wyw-item-desc{
  font-family: acrobat;
  font-size: 18px;
  color: #333333;
  flex: 7;
}

.wyw-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px){
  .wyw-item{
    flex-direction: row;
  }
  
  .wyw-item-img{
    padding: 10px;
    text-align: center;
  }
  
  .wyw-item-desc{
    flex: 3;
    font-size: 14px;
  }
}
